
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.btn-yt
{
  background-color: #ff1414;
  background-position: center;
  background-size: 200px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  font-family:"Montserrat";
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 60px;
  padding-top: 15px;
  transition: all .25s linear;
  padding-bottom: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
}


.btn-yt:hover
{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.btn-nm
{
  background-color: #0e0e0e;
  background-position: center;
  background-size: 200px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  font-family:"Montserrat";
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 60px;
  padding-top: 15px;
  transition: all .25s linear;
  padding-bottom: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
}


.btn-nm:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.btn-ds
{
  background-color: #5865f2ff;
  background-position: center;
  background-size: 200px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  font-family:"Montserrat";
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 60px;
  padding-top: 15px;
  transition: all .25s linear;
  padding-bottom: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
}

 .btn-ds:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.btn-sf
{
  background-color: #1ed760ff;
  background-position: center;
  background-size: 200px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  font-family:"Montserrat";
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 60px;
  padding-top: 15px;
  transition: all .25s linear;
  padding-bottom: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
}

 .btn-sf:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}


#animated-text-1 {
font-size: 72px;
font-family: "Montserrat";
font-weight: 600;
text-shadow: rgba(0, 0, 0, .4) 0px 0 20px;
opacity: 1;
transition: opacity 1s;
}


#animated-text-2{
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, .4) 0px 0 20px;
  opacity: 1;
  transition: opacity 1s;
}


#animated-text-22{
  font-size: 38px;
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, .4) 0px 0 20px;
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
opacity: 0;
}

.visible {
opacity: 1;
}





#hi
{
  font-size: 72px;
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, .6) 0px 0 20px;
}



.hello 
{
    font-family: "Archivo Black", sans-serif;
    color:#fff;
    width: 100%;
    align: center;
}







body {
  align-items: center;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111111 ;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
  position: relative;
}


header {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 48px;
  align-items: center;
  font-family: "Montserrat";
  box-shadow: 0 0 16px rgba(0, 0, 0, .75);
  backdrop-filter: blur(10px);
  font-size: 18px;
}


.navbar {
  justify-content: space-between;
  display: flex;
}






.lologo{
  width: 112px;
}


.welcome-text
{
    
    top: 48px;
    width: 100%;
    height: var(--welcome-text-h);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: "Montserrat" ;
}


#line1
{
    width: 4px;
    height: 128px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .325), rgba(255, 255, 255, 0));
}


#line2 {
  width: 100%;
  height: 4px;
  margin-bottom: 50px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.325),
      rgba(255, 255, 255, 0)
  );
}


#welcome-info1
{
    font-size: 18px;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, .4) 0px 0 20px;
    font-family: "Montserrat";
}


#welcome-info2
{
    font-size: 31px;
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, .4) 0px 0 20px;
    font-family: "Montserrat";
}


#line-raz {
  width: 100%;
  height: 4px;
  background: #cccccc00;
  
}





@media screen and (max-width: 1300px) {
  .header-text
  {
    font-size: 40px;
  }

  #line2{
    display: block;
  }


  #line1{
    display: none;
  }


  .container{
    width: 1300px;
  }


  header{
    height: 38px;
    width: 100%;
    font-size: 38px;
  }


  .header-text{
    font-size: 38px;
  }


  .lologo{
    width: 215px;
  }


  #welcome-info2{
    display: block;
  }


  #animated-text-1 {
    font-size: 114px;
    font-weight: 600;
  }


  #animated-text-2{
    display: none;
  }


  #animated-text-22{
    display: block;
  }


  #welcome-info1{
    display: none;
  }


  .btn-yt{
    margin-top: 80px;
    margin-bottom: 420px;
    border-radius: 60px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 60px;
    font-weight: 600;
  }


  .btn-nm{
    margin-top: 80px;
    margin-bottom: 420px;
    border-radius: 60px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 60px;
    font-weight: 600;
  }


  .btn-ds{
    margin-top: 80px;
    margin-bottom: 420px;
    border-radius: 60px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 60px;
    font-weight: 600;
  }


  .btn-sf{
    margin-top: 80px;
    margin-bottom: 420px;
    border-radius: 60px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 60px;
    font-weight: 600;
  }


  #hi{
    font-size: 114px;
    font-weight: 600;
  }
}


@media screen and (min-width: 1301px) 
{
  .header-text
  {
    font-size: 10px;
  }

      #line2{
        display: none;

      }


      #welcome-info2{
        display: none;
      }

      #welcome-text1{
        display: block;
      }
      #line1{
        display: block;
      }


      #animated-text-2{
        display: block;
      }
      #animated-text-22{
        display: none;
      }
}



  
